@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
}

html {
    font-size: 62.5%;
    font-family: "Overpass";
}

:root {
    --dark-blue: #262E38;
    --light-grey: #969FAD;
    --orange: #FC7614;
    --very-dark-blue: #131518;
    --black-radial-gradient: radial-gradient(#232a34, #181e27);
}


h2 {
    color: white;
    font-size: 2.4rem;
}

p {
    color: var(--light-grey);
    font-size: 1.6rem;
    line-height: 150%;
}

fieldset {
    border: none;
}

button {
    border-radius: 2rem;
    background-color: var(--orange);
    border: none;
    font-family: "Overpass";
    height: 4rem;
    font-weight: 600;
    cursor: pointer;
}


input + label:hover,
button:hover {
    background-color: white;
    color: black;
}

.form,
.results {
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.results {
    align-items: center;
    gap: 2rem;
    padding: 1.2rem 0.4rem;
    text-align: center;
}

.active {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 100vh;
    background-color: var(--very-dark-blue);
    padding: 2.4rem;
}

.card {
    padding: 2.4rem;
    border-radius: 1.5rem;
    min-height: min(50%, 41.6rem);
    max-height: 41.6rem;
    width: min(100%, 41.2rem);
    background: var(--black-radial-gradient);
}

.img-container {
    border-radius: 50%;
    padding: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    width: 4rem;
    height: 4rem;
}

.ratings-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ratings-container label {
    color: var(--light-grey);
    background-color: var(--dark-blue);
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 600;
    position: relative;
    color: var(--light-grey);
}

.ratings-container input[type="radio"] {
    height: 0;
    width: 0;
    border: none;
    position: absolute;
}

.ratings-container input[type="radio"]:checked + label{
    background-color: var(--orange);
    color: black;
}


.results-img-container {
    width: 14.4rem;
    height: 9.6rem;
    margin-bottom: 1.2rem;
}

.score {
    color: var(--orange);
    padding: 1.2rem 1.6rem;
    background-color: var(--dark-blue);
    border-radius: 2rem;
    font-size: 1.4rem;
    
}

.score > * {
    font-weight: 300;
}

.results p {
    text-justify: inter-word;
}